* {
  box-sizing: border-box;
}

.logo {
  font-size: 4em;
  margin: 0;
  padding: .3em;
  color: $color-texto-menu;
}

.hidden {
  display: none;
  visibility: hidden;

  @media (min-width: $mqMinWidth2) {
    display: block;
    visibility: visible;
  }

}

.af-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-menu; 

  .sandwich {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 99;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: #0000;
    cursor: pointer;
  
    .bar1, .bar2, .bar3 {
      width: 40px;
      height: 5px;
      background-color: $color-texto-menu;
      margin: 6px 5px;
      transition: 0.4s;
    }

    @media (min-width: $mqMinWidth2) {
      display: none;
      visibility: hidden;
    }
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  

  .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffa60070;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

    li {
      
      margin: 50px 1em;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-texto-menu;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: -1px;

        @media (min-width: $mqMinWidth2) {
          font-size: 1em;
          font-weight: normal;
          letter-spacing: 0px;
        }

        
      }

      a:hover {
        text-decoration: underline;
      }
    }

    @media (min-width: $mqMinWidth2) {
      display: flex;
      flex-direction: row;
      position: static;
      backdrop-filter: initial;
      -webkit-backdrop-filter: initial;
      background-color: initial;
      justify-content: flex-end;
    }
  }

  @media (min-width: $mqMinWidth1) {
    max-width: none;
  }

  
}

body {
  padding: 0px;
  margin: 0px;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
}

main {
  margin: 0;
  padding: 2rem;

  a {
    color:$color-enlaces;
  }

  a:hover {
    color:$color-enlaces-hover;
  }
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth1) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth1) {
    font-size: 36px;
  }
}

footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  
}