/* ----------------------------------- *\
  #SECCION-LAS-CUATRO-MEJORES-CANCIONES-DEL-MOMENTO
\* ----------------------------------- */


.song-list {
  list-style: none;
  counter-reset: item;
  padding: 0px;

  @media (min-width: $mqMinWidth2) {
    display: flex;
    flex-wrap: wrap;
  }
}

.song-list__title {
  margin: 0;
  margin-left: 70px;
  margin-top: 1em;
}

.song-list__item {
  counter-increment: item;

  @media (min-width: $mqMinWidth2) {
    position: relative;
    width: 50%;
  }
}

.song-list__item:before {
  content: '0' counter(item);
  text-align: center;
  background-color: $color-numeros;
  font-size: 2.8em;
  display: block;
  padding: 0.3em;

  @media (min-width: $mqMinWidth2) {
    content: '0' counter(item);
    font-size: 1.8em;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 40px;
    height: 40px;
    line-height: 1.2;
    border-radius: 40px;
  }
}

.album {
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $mqMinWidth2) {
    margin-top: 2em;

    img {
      flex: 0 1 100px;
      width: auto;
      margin-right: 1em;
    }

    figcaption {
      flex: 0 1 100px;
    }
  }
}

.album__descripcion {
  margin-top: 1em;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 2em 2em;

  @media (min-width: $mqMinWidth2) {
    grid-template-columns: 285px auto auto auto;
  }
}

.grid--title {
  font-weight: bold;
}

.grid__row1-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid__row1-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.grid__row1-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: bold;
}

.grid__row1-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid__row2-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid__row2-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid__row2-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid__row2-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}