/* ------------------------------------------ *\
  #SECCION-OTROS-CONTENIDOS-INTERESANTES
\* ------------------------------------------ */

.marco {
  border: none;
  width: 100%;
  height: 300px;

  @media (min-width: $mqMinWidth2) {
    height: auto;
    width: 33%;
  }
}

.container__leyenda {
  text-align: center;
  font-style: italic;
}