/* ------------------------------------------ *\
  #SECCION-OTROS-CONTENIDOS-INTERESANTES
\* ------------------------------------------ */

iframe {
  border: none;
  width: 100%;
  height: 300px;

  @media (min-width: $mqMinWidth2) {
    height: auto;
    width: 33%;
  }
}

.leyenda {
  text-align: center;
  font-style: italic;
}
