<header class="af-header">
    <figure class="logo"><em class="fa-solid fa-music fa-beat"></em></figure>
    <button class="sandwich">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
    </button>
    <ul class="menu hidden">
        <li class="menu__item"><a href="#">Canciones más escuchadas</a></li>
        <li class="menu__item"><a href="#">Géneros músicales</a></li>
        <li class="menu__item"><a href="#">Vídeos</a></li>
        <li class="menu__item"><a href="#">Enlaces de interés</a></li>
    </ul>
</header>