<section class="topten">
    <h1><span lang="en">Top Four</span>: Las cuatro mejores canciones del momento</em></h1>
    <ol class="song-list">
      <li class="song-list__item">
        <h2 class="song-list__title">Lollipop</h2>
        <figure class="album"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" srcset="assets/images/lollipop.png 41w, assets/images/lollipop.jpg 640w"
            sizes="(min-width:1px) 50px, (min-width:970px) 500px" alt="Album lollipop">
          <figcaption class="album__descripcion">
            <div class="grid">
              <span class="grid__row1-1 grid--titulo">Album</span>
              <span class="grid__row1-2 grid--titulo"><em class="fa-regular fa-clock" title="Duración"></em></span>
              <span lang="en" class="grid__row1-3 grid--titulo">Like</span>
              <span lang="en" class="grid__row1-4 grid--titulo">Play</span>

              <span class="grid__row2-1">Everybody go to the discotek</span>
              <span class="grid__row2-2">3:19</span>
              <span class="grid__row2-3"><a href="#" title="Me gusta"><em class="fa-solid fa-thumbs-up" ></em></a> / <a title="No me gusta"
                  href="#"><em class="fa-solid fa-thumbs-down" ></em></a></span>
              <span class="grid__row2-4"><a title="play"
                  href="https://www.youtube.com/watch?v=rZjoo6Pke5k&list=PLZoJn9qEbkkvNp-kLSM4VVj4MQb57NFAl"
                  target="_blank" ><em class="fa-solid fa-play"></em></a></span>
              </tr>
            </div>
          </figcaption>
        </figure>

      </li>
      <li class="song-list__item">
        <h2 class="song-list__title">Si no Estás</h2>
        <figure class="album"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" srcset="assets/images/sinoestas.png 39w, assets/images/sinoestas.jpg 1000w"
            sizes="(min-width:1px) 50px, (min-width:970px) 500px" alt="Album si no estás">
          <figcaption class="album__descripcion">
            <div class="grid">

              <span class="grid__row1-1 grid--titulo">Album</span>
              <span class="grid__row1-2 grid--titulo"><em class="fa-regular fa-clock" title="Duración"></em></span>
              <span lang="en" class="grid__row1-3 grid--titulo">Like</span>
              <span lang="en" class="grid__row1-4 grid--titulo">Play</span>

              <span class="grid__row2-1">Si no estás</span>
              <span class="grid__row2-2">3:04</span>
              <span class="grid__row2-3"><a href="#" title="Me gusta"><em class="fa-solid fa-thumbs-up" ></em></a> / <a title="No me gusta"
                  href="#"><em class="fa-solid fa-thumbs-down" ></em></a></span>
              <span class="grid__row2-4"><a href="https://www.youtube.com/watch?v=fhh0ij37EoY" target="_blank"
                  title="play"><em class="fa-solid fa-play"></em></a></span>

            </div>
          </figcaption>
        </figure>

      </li>
      <li class="song-list__item">
        <h2 class="song-list__title">PERRO NEGRO</h2>
        <figure class="album"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" srcset="assets/images/perronegro.png 39w, assets/images/perronegro.jpg 500w"
            sizes="(min-width:1px) 50px, (min-width:970px) 500px" alt="Perro negro">
          <figcaption class="album__descripcion">
            <div class="grid">
              <span class="grid__row1-1 grid--titulo">Album</span>
              <span class="grid__row1-2 grid--titulo"><em class="fa-regular fa-clock" title="Duración"></em></span>
              <span lang="en" class="grid__row1-3 grid--titulo">Like</span>
              <span lang="en" class="grid__row1-4 grid--titulo">Play</span>

              <span class="grid__row2-1">Nadie sabe lo que va a pasar mañana</span>
              <span class="grid__row2-2">2:42</span>
              <span class="grid__row2-3"><a href="#" title="Me gusta"><em class="fa-solid fa-thumbs-up" ></em></a> / <a title="No me gusta"
                  href="#"><em class="fa-solid fa-thumbs-down" ></em></a></span>
              <span class="grid__row2-4"><a title="play" href="https://www.youtube.com/watch?v=qWL7Iy7jhKc" target="_blank"
                  ><em class="fa-solid fa-play"></em></a></span>
            </div>

          </figcaption>
        </figure>

      </li>

      <li class="song-list__item">
        <h2 class="song-list__title">El Mambo</h2>
        <figure class="album"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" srcset="assets/images/elmanbo.png 39w, assets/images/elmambo.jpg 1200w"
            sizes="(min-width:1px) 50px, (min-width:970px) 500px" alt="Foto de maluma">
          <figcaption class="album__descripcion">
            <div class="grid">
              <span class="grid__row1-1 grid--titulo">Album</span>
              <span class="grid__row1-2 grid--titulo"><em class="fa-regular fa-clock" title="Duración"></em></span>
              <span lang="en" class="grid__row1-3 grid--titulo">Like</span>
              <span lang="en" class="grid__row1-4 grid--titulo">Play</span>

              <span class="grid__row2-1">Nadie sabe lo que va a pasar mañana</span>
              <span class="grid__row2-2">3:19</span>
              <span class="grid__row2-3"><a href="#" title="Me gusta"><em class="fa-solid fa-thumbs-up" ></em></a> / <a title="No me gusta"
                  href="#"><em class="fa-solid fa-thumbs-down" ></em></a></span>
              <span class="grid__row2-4"><a href="https://www.youtube.com/watch?v=Mpf5CIkv7TY" target="_blank"
                  title="play"><em class="fa-solid fa-play"></em></a></span>
            </div>
          </figcaption>
        </figure>

      </li>


    </ol>
  </section>