<section>
    <h1>Otros contenidos interesantes</h1>
    <figure class="container">
      <iframe class="marco" src="https://www.youtube.com/embed/0DuXjdkAYrg?si=w1SxktaY3woQa364"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe class="marco" src="https://www.youtube.com/embed/RYihwKty83A?si=PJa5cOsFgCSH6pmo"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe class="marco" src="https://www.youtube.com/embed/UWKKMUKwE_E?si=JbmUq9E8MU0GLD0D"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <figcaption class="container__leyenda">Listado de videos con contenido interesante y sobre la música en general
      </figcaption>
    </figure>

  </section>